* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f0f1f6;
}

body {
  width: 100%;
  max-width: 1300px;

  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  position: fixed;
  margin: auto;
  top: 40px;
  width: 400px;
  border-radius: 20px;
  padding: 15px 30px;
  background-color: #515151;
  gap: 10px;
  border: 1px solid #f0f1f6;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: white;
}

@media (max-width: 500px) {
  header {
    width: 90%;
  }

  header ul {
    font-size: small;
  }

  header img {
    height: 25px;
  }
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: large;
  gap: 40px;
}

.lista li {
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s linear;
}

a:hover {
  transform: translateY(-5px); /* Mueve el artículo 10px hacia arriba */
}

main {
  width: 100%;
  height: 100%;
  padding: 130px 0px 30px 0px;
}

section {
  display: flex;
  align-items: stretch; /* Esto hace que los artículos se estiren para tener la misma altura */
  justify-content: space-around;
  padding-bottom: 5px;
  height: fit-content;
}

article {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
  background-color: #ffffff;
  flex-grow: 1; /* Esto hace que cada artículo crezca para llenar el espacio disponible */
}

.experiencia {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: #ffffff;
  gap: 5px;
}

h1 {
  font-size: clamp(1.5rem, 4vw, 2rem);
}

p {
  font-size: clamp(1rem, 3vw, 1.2rem);
}

h3 {
  font-size: large;
}

@media (max-width: 1100px) {
  section {
    flex-direction: column;
  }
}
